// _buttons.scss
.btn {
  min-width: 100px;
  padding: 10px;
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid #333333;
  @include border-radius(10px);
}
.btn-warning {
   @extend .btn;//@extend .btn;クラス継承
   color: $warning-red;
   border-color: $warning-red;

   &:hover,
   &:focus {
     background-color: $warning-red;
     color: #ffffff;
     border-color: #ffffff;
   }
 }
.btn-primary {
 @extend .btn;
 color: $light-blue;
 border-color: $light-blue;

 &:hover,
 &:focus {
   background-color: $light-blue;
   color: #fff;
   border-color: #fff;
 }
}

.btn-OrangeRed {
  @extend .btn;
  color: $OrangeRed;
  border-color: $OrangeRed;

  &:hover,
  &:focus {
    background-color: $OrangeRed;
    color: #fff;
    border-color: #fff;
  }
}

.btn-chat, .btn-cart, .btn-signup{
  @extend .btn;
  color: #00bfa5;
  border-color: #00bfa5;

  &:hover,
  &:focus {
    background-color: #00bfa5;
    color: #fff;
    border-color: #fff;
  }
}

.has-error {
  color: #fff;
  border-color: #fff;
  background-color: red;

  &:hover,
  &:focus {
    color: #fff;
    border-color: red;
    background-color: red;
  }
}

.error-message {
  color: red;
}

.warning-error {
  @extend .btn;
  color: #ffff00;
  border-color: #ffff00;

  &:hover,
  &:focus {
    background-color: #ffff00;
    color: #fff;
    border-color: #fff;
  }
}

.btn-buy {
  @extend .btn;
  color: $OrangeRed;
  border-color: $OrangeRed;

  &:hover,
  &:focus {
    background-color: $OrangeRed;
    color: #fff;
    border-color: #fff;
  }
}

.input-error , .select-error{
  border: 1px solid red;
}
._panel {
  box-sizing: border-box;
  margin-top: 0px;
  padding: 0px 20px;
  color: #757575;
}
