.hero {
  background: black url(images/taxi-cab-381233_1280.jpg) center / cover;
}

@media (max-width: 1024px) {
  .hero {
    background: black url(images/taxi-cab-381233_1280.jpg) center / cover;
  }
}

@media (max-width: 768px) {
  .hero {
    background: black url(images/traffic-332857_640.jpg) center / cover;
  }
}

@media (max-width: 768px) {
	:root {
		font-size: 90%;
	}
}
