.grid_basicinfo {
  display: grid;
  grid-template-rows: 40px 260px;//tate
  grid-template-columns: 1fr ;//yoko
  grid-template-areas:
      "areaA "
      "areaC ";
}

.grid_basicinfo_title {
  grid-area: areaA;
}

.grid_basicinfo_input {
  grid-area: areaC;
}

.gird_price_and_warehouse {
  display: grid;
  grid-template-rows: 50px 150px;//tate
  grid-template-columns: 100px 1100px;//yoko
  grid-template-areas:
      "areaA areaA"
      "areaB areaC";
}

.grid_price_and_warehouse {
  grid-area: areaA;
}

.grid_price_and_warehouse_input {
  grid-area: areaC;
  width: 70%;
}
