.container {
  margin: 20px 0;
}
.user_container_1 {
  float: left;
  margin-right: 10px;
  width: 200px;
  background-color: blue;

  .user_container_1_Upper {
    height: 60px;

    div{
      float: left;
    }
  }
}
.user_container_2 {
  float: left;
  margin-right: 10px;
  width: 800px;
  background-color: green;
}
