#a { grid-area: a; }
#b { grid-area: b; }
#c { grid-area: c; }
#d { grid-area: d; }
#e { grid-area: e; }

#grid {
  display: grid;
  grid-template-areas:
      "a a a a"
      "b c d e";

      grid-row-gap: 1rem;
}

@media (max-width: 512px){
  #grid {
    display: grid;
    grid-template-areas:
        "a a a"
        "b c d"
        "e e e";
  }
}

#a1 { grid-area: a1; }
#b1 { grid-area: b1; }
#c1 { grid-area: c1; }
#d1 { grid-area: d1; }

#grid1 {
  display: grid;
  grid-template-areas:
      "a1 b1 c1 d1";

      grid-row-gap: 1rem;
}

@media (max-width: 512px){
  #grid1 {
    display: grid;
    grid-template-areas:
        "a1 b1"
        "c1 d1";
  }
}
