/* ---------------------
    basicinfo:
      基本情報セクションで使用されます
    renderclassificationRowDivTable():
      このスタイルは分類表に使用されます
--------------------- */


/*-- basicinfo: 基本情報セクションで使用されます --*/
.basicinfo {
  display: grid;
  grid-template-rows: 40px 260px;//tate
  grid-template-columns: 1fr ;//yoko
  grid-template-areas:
      "a "
      "c ";

      &__title {
        grid-area: a;
      }
      &__input {
        grid-area: c;
      }
}

/*-- renderclassificationRowDivTable(): このスタイルは分類表に使用されます --*/
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 5px 10px;
}
.divTableCell{
	border: 1px solid #999999;
	display: table-cell;
	padding: 0px;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
