*, ::after, ::before {
    box-sizing: border-box;
}
body {//aに対して
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {//直下
    margin: 0px;
    padding: 0em;
}

header {
  position: sticky;
  top: 0; /* 一番上に表示 */
  color: #fff;
  z-index:1000000000;
}
ul, ol {//aとbに対して
    list-style: none;
    padding-left: 0;
}
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 1em 0em 0em 0em;
}

.container::after, .container::before {
    content: " ";
    display: table;
}
.container:after {
  content: '';
  display: block;
}

.container::after {
  clear: both;
}

footer {
  background-color: #fff;
  border-top: 4px solid #ff5722;
  color: rgba(0,0,0,.54);
}

nav {//footer
  overflow: hidden;
  display: flex;//初期値row
  flex-direction: row; //横並びさせる
  justify-content: space-between;
  // height: 3em;
}

nav a {//aの中にあるすべてのbに対して
    color: #fff;
    text-decoration: none;
    font-size: medium;
    display:block;

    &:hover {
      opacity: 0.8;
    }
}

main {//aに対して
    padding: 20px;
}

h1 {
    color: yellow;
    margin: 0;
    margin-bottom: 5px;
    font-size: 20.5pt;
    font-weight: normal;
}

h2 {
  color: green;
  margin: 0;
}

h3 {
  margin: 0;
  color: #222;
}

.header-body__grid-ItemD {
    grid-area: areaD;
    background: #ff5722;
    display: flex;
    // align-items: center;
    justify-content: center;

    a {
      padding: 1em 0em;
    }
}

// HeaderWithSearchWrapCartSection
// cart icon
.fa-shopping-cart {
  color: #fff;
  will-change: transform;
  transform-origin: 0 100%;
  transform: rotate(-11deg);
  transition: transform .2s ease-out;
  // animation: roter 2s infinite linear;

  &:hover {
    transform: rotate(0deg)
  }
}
@keyframes roter {
  form {
    transform: rotate(0.00turn)
  } to {
    transform: rotate(1.00turn)
  }
}

.main-nav-container{
  padding-top: 1em;
}
.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    text-decoration: none;
  }
}

/* Media Queries */

@media (prefers-reduced-motion) {
    body {
        transition: none;
    }
}

/*  hot-word Component  */
.hot-word {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.hotword__item-list {
  display: flex;
  flex-direction: row;

  .hotword__item {
    // padding: 0px 5px;
    // margin-bottom: 1em;
  }
}
.hotword__container {
  position: relative;
  z-index:1000;
}
.hotword__card-label {
   position: absolute;
   z-index:1000;
   // text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   bottom: 0;
   background-color: rgba(0,0,0,.4);
   left: 0;
   right: 0;
   color: #fff;
   text-align: center;
   padding: 5px 0;
   -moz-box-sizing: border-box;
   box-sizing: border-box;

   &:hover {
     background-color: rgba(0,0,0,.7);
   }
}
.hotword_img {
  background-image: url('./images/hotword.80.110.png');
  background-size: 100% 100%;
}

/*  Categor Component  */
.categor__item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;

  .categor__item {
    // padding: 0px 5px;
    // margin-bottom: 1em;
  }
}
.categor__container {
  position: relative;
  z-index:1000;
  height: 150px;
  width: 110px;
  background-color: rgba(255,255,255,1);
}
.categor_img__container {
  padding-top: 10px;
  height: 110px;
  width: 110px;
}
.categor_img {
  margin: auto;
}
.categor__card-label {
   position: absolute;
   z-index:1000;
   // text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   background-color: rgba(255,255,255,1);
   left: 0;
   right: 0;
   color: rgba(0,0,0,.8);
   text-align: center;
   padding: 5px 0;
   -moz-box-sizing: border-box;
   box-sizing: border-box;

   &:hover {
     background-color: rgba(0,0,0,.7);
   }
}
.categor_img {
  background-image: url(./images/categor.80.110.png);
  background-size: 100% 100%;
}
