body {
    background-color: #eeeeee;
}

h1 {
    color: yellow;
    margin: 0;
    margin-bottom: 5px;
    font-size: 20.5pt;
    font-weight: normal;
}

h2 {
  color: green;
  margin: 0;
}

h3 {
  margin: 0;
  color: #222;
}
